<body>
{% block content %}

<table border="1" cellpadding="50;">
	<tr>
		<td>id</td>
		<td>payment_status</td>
		<td>image</td>

   </tr>
   {% csrf_token %}
{% for items in myorder_list %}
<input type="text" hidden name="name" value="{{items.id}}">
<tr>
<td>{{items.vehicle.id}}</td>
<td>{{items.price}}</td>
<td>{{items.image}}</td>
<td><img src="{{items.vehicle.image.url}}" height="150px;"></td>
      <p align="right">

         {% csrf_token %}
    </form>
</tr>
{% endfor %}
</table>

{% endblock %}
</body>